# Puerto del servidor
PORT=3000

# Entorno: development | production
NODE_ENV=development

# Nombre de la impresora configurada en el sistema operativo (default: Pensilpos)
PRINTER_NAME=Pensilpos

# Tamaño de papel de la impresora (ver src/config/paper-sizes.js). Opciones: 80mm
PAPER_SIZE=80mm
